<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">Edit <small><%= campground.title %></small></h1>
  <div class="col-6 offset-3">
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" class="validated-form" enctype="multipart/form-data" novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          value="<%= campground.title %>"
          required
        />
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          value="<%= campground.location %>"
          required
        />
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Add Images</label>
        <input type="file" name="image" id="image" multiple>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            placeholder="0"
            name="campground[price]"
            aria-label="price"
            aria-describedby="price-label"
            value="<%= campground.price %>"
            required
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="campground[description]"
          id="description"
          class="form-control"
          required
        ><%= campground.description %></textarea>
      </div>
      <div class="mb-3">
        <% campground.images.forEach((img, i) => { %>
          <img src="<%=img.thumbnail %>" class="img_thumbnail mb-3" alt="">
          <div class="form-check-inline">
            <input type="checkbox" name="deleteImages[]" id="<%=i %>" value="<%= img.filename %>">
            <label for="<%=i%>">Delete</label>
          </div>
        <% }) %>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update</button>
      </div>
    </form>
    <div>
      <a href="/campgrounds" class="btn btn-light">All campgrounds</a>
    </div>
  </div>
</div>

















<!-- <h1>Edit <%= campground.title %></h1>
<form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
  <div>
    <label for="title">Title</label>
    <input
      type="text"
      id="title"
      name="campground[title]"
      value="<%= campground.title %>"
    />
  </div>
  <br />
  <div>
    <label for="location">Location</label>
    <input
      type="text"
      id="location"
      name="campground[location]"
      value="<%= campground.location %>"
    />
  </div>
  <button>Submit</button>
  <div>
    <a href="/campgrounds/<%= campground._id %>">Back</a>
  </div>
</form> -->
